# Sets up the devbox environment whenever you cd into this directory.
# See https://www.jetify.com/docs/devbox/ide_configuration/direnv/

eval "$(devbox generate direnv --print-envrc)"

source_env_if_exists .envrc.local
