body {
    color: #1D2A39;
    background-color: #eeeeed;
    font-family: Georgia, Times New Roman, serif;
    font-size: 14pt;
}

/* Prevent mobile Safari from auto-adjusting monospace fonts */
@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: 100%;
  }
}

a {
    color: #2156a5;
}

a:hover {
    background-color: #2156a5;
    color: #eeeeed;
}

h1,
h2,
h3 {
    color: #094067;
    font-family: Helvetica, Arial, sans-serif;
}

#site-name {
    margin-top: 0;
}

#site-name a {
    text-decoration: none;
}

#site-description {
    font-size: 1.25em;
}

div.container {
    margin: 0 auto;
}

div.container,
#articles,
#article-content,
#footer {
    max-width: 750px;
}

#about-me li,
#articles li,
#old-skool li {
    margin-bottom: 0.75em;
}

#about-me a,
#articles a,
#old-skool a {
    text-decoration: none;
}

#article-content p {
    line-height: 1.45em;
}

#article-content li {
    margin-bottom: 0.5em;
}

#article-content img,
#article-content p img,
#article-content iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 88%;
}

#article-title {
    margin-bottom: 5px;
}

#article-metadata {
    color: #929FAE;
    margin-bottom: 1.5em;
}

#footer {
    background-color: #ddddd9;
    border: 1px solid #333333;
    border-radius: 5px;
    font-size: 1.07em;
    margin: 10px 0px 5px 0px;
    padding: 6px;
}

/* Highlight for in-line code */
code.language-plaintext {
    background-color: #dddddf;
    color: #ef4565;
}
