body {
    color: #313E4D;
    background-color: #eeeeed;
    font-family: Georgia, serif;
    font-size: 14pt;
}

a {
    color: #2156a5;
}

a:hover {
    background-color: #2156a5;
    color: #eeeeed;
}

h1,
h2,
h3 {
    color: #313E4D;
    font-family: -apple-system, Helvetica, sans-serif;
}

#site-name {
    margin-top: 0;
}

#site-name a {
    text-decoration: none;
}

#site-description {
    font-size: 1.25em;
}

div.container {
    margin: 0 auto;
}

div.container,
#articles,
#article-content,
#footer {
    max-width: 750px;
}

#about-me li,
#articles li,
#others li {
    margin-bottom: 0.75em;
}

#about-me a,
#articles a,
#others a {
    text-decoration: none;
}

#article-top {
    font-size: 16pt;
}

#article-top a {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

#article-top .description {
    color: #505D6C;
    font-size: 0.85em;
}

#article-content h1,
#article-content h2,
#article-content h3 {
    margin-top: 1em;
    margin-bottom: 0;
}

#article-content p,
#article-content blockquote,
#article-content figure,
#article-content ul,
#article-content div.language-plaintext,
#article-content ol {
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}

#article-content p,
#article-content ul,
#article-content ol {
    line-height: 1.5em;
}

#article-content li {
    margin-bottom: 0.75em;
}

#article-content li:last-of-type {
    margin-bottom: 0;
}

#article-content img,
#article-content p img,
#article-content iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 88%;
}

#article-content blockquote {
    margin-left: 0.85em;
    margin-right: 0.85em;
}

#article-content blockquote p {
    background-color: #ddddd9;
    border-left: 3px solid #647180;
    margin: 0;
    padding: 6px;
}

#article-title {
    margin-bottom: 5px;
}

#article-metadata {
    color: #929FAE;
    margin-bottom: 1.5em;
}

#footer {
    background-color: #ddddd9;
    border: 1px solid #333333;
    border-radius: 5px;
    font-size: 1.07em;
    margin: 10px 0px 5px 0px;
    padding: 6px;
}

/* Highlight for in-line code */
code.language-plaintext {
    background-color: #dddddf;
    border-radius: 3px;
    color: #990000;
    font-family: Monaco, Menlo, Courier New, monospace;
    font-size: 0.85em;
}

/* Highlight for in-line code that's in a blockquote*/
blockquote code.language-plaintext {
    background-color: #C9C9CB;
}

/* Prevent mobile Safari from auto-adjusting monospace fonts */
@media screen and (max-device-width: 480px){
    body{
        -webkit-text-size-adjust: 100%;
    }

    #article-top .description {
        font-size: 0.70em;
    }
}

