@media only screen and (max-device-width: 480px) {
    /* Prevent mobile Safari from auto-adjusting monospace fonts */
    body{
        -webkit-text-size-adjust: 90%;
    }
}

/* Code blocks created with `highlight` Liquid tag */

figure.highlight,
.terminal pre,
div.language-plaintext pre.highlight {
    font-size: 85%;
}

figure.highlight {
    background-color: #404040;
    border-radius: 5px;
    color: #AFAFAF;
    font-family: Monaco, Menlo, Courier New, monospace;
    margin-bottom: 24pt;
    margin-left: 0;
    margin-right: 0;
    max-width: 750px;
    overflow: scroll;
    overflow-y: hidden;
}

figure.highlight > pre {
    /* Don't set margins below 0 here because it will render */
    /* highlight blocks without line numbers incorrectly */
    margin: 10px;
}

figure.highlight table.rouge-table {
    margin: -15px 0 -15px 0;
}

figure.highlight td.gutter pre {
    color: #969696;
    text-align: right;
}

figure.highlight td.code {
    padding-left: 5px;
}

/* PYTHON FIXES */

/* Fixes the dark-on-dark color of the "f" in Python f-strings */
figure.highlight code.language-python pre span.sa {
    color: #d0d0d0;
}

/* Removes the underlines in imported modules. What's up wit dat??? */
figure.highlight code.language-python pre span.nn,
figure.highlight code.language-python pre span.nc {
    text-decoration: none;
}


/* YAML FIXES */

/* Fixes colons */
figure.highlight code.language-yaml .pi {
    color: #bbbbbb;
}

/* Fixes YAML doc separators */
figure.highlight code.language-yaml pre span.nn {
    color: #bbbbbb;
    text-decoration: none;
}


/* OLD-STYLE CUSTOM CODE BLOCKS */

.terminal {
    background-color: #404040;
    border-radius: 5px;
    color: #d0d0d0;
    margin-bottom: 24pt;
    overflow: scroll;
}

.terminal pre {
    margin: 10px;
}

/* Used by 2022-02-16-autotest-code-snippets.md */

.terminal span.proc1 {
    color: cyan;
}

.terminal span.proc2 {
    color: lightgreen;
}

.terminal span.proc3 {
    color: yellow;
}

.terminal span.proc3failed {
    color: red;
}

.terminal span.proc3passed {
    color: lightgreen;
}

/* END Used by 2022-02-16-autotest-code-snippets.md */

/* FOR MARKDOWN-STYLE CODE BLOCKS */

div.language-plaintext {
    color: #d0d0d0;
    background-color: #404040;
    border-radius: 5px;
    overflow: scroll;
    padding: 0px;
}

div.language-plaintext pre.highlight {
    margin: 10px;
}

/* END FOR MARKDOWN-STYLE CODE BLOCKS */
