figure.highlight {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 24pt;
}

figure.highlight pre {
    border: 0;
    margin: 0;
    padding: 0;
}

figure.highlight td.gutter {
    min-width: 30px;
    padding: 0;
    text-align: right;
}

figure.highlight td.gutter pre.lineno {
    color: #999999;
    padding: 8px;
    white-space: pre;
}

figure.highlight td.code {
    padding: 0;
}

figure.highlight td.code pre {
    color: #bbbbbb;
    border-color: transparent;
    padding: 8px;
    white-space: pre;
}

/* Fixes the dark-on-dark color of the "f" in Python f-strings */
figure.highlight td.code pre span.sa {
    color: #d0d0d0;
}

/* Removes the underlines in imported modules. What's up wit dat??? */
figure.highlight td.code pre span.nn {
    text-decoration: none;
}

div.language-plaintext pre.highlight code {
    color: #cccccc;
}


.highlight .pi { color: #bbbbbb } /* YAML colons ':' */

/* Used by 2022-02-16-autotest-code-snippets.md */

.terminal {
    margin-bottom: 24pt;
}

.terminal pre {
    background-color: #404040;
    color: #d0d0d0;
    overflow: hidden;
    white-space: pre;
}

.terminal span.proc1 {
    color: cyan;
}

.terminal span.proc2 {
    color: lightgreen;
}

.terminal span.proc3 {
    color: yellow;
}

.terminal span.proc3failed {
    color: red;
}

.terminal span.proc3passed {
    color: lightgreen;
}

/* END Used by 2022-02-16-autotest-code-snippets.md */
