{{ define "main" }}
<nav class="nav">
  <a href="{{ site.Home.RelPermalink }}">{{ site.Title }}</a>
  <span class="tagline">({{ site.Params.description }})</span>
</nav>

<article>
  <h1>{{ .Title }}</h1>
  <p class="meta">
    {{ .Date.Format "Jan 2, 2006" }} &nbsp;·&nbsp;
    Est. read: {{ .ReadingTime }} minute{{ if ne .ReadingTime 1 }}s{{ end }}
  </p>
  {{ .Content }}
</article>

<footer class="post-footer">
  Want to add your thoughts?
  <a href="https://github.com/relaxdiego/relaxdiego.github.com/discussions/new">Do it here</a>.
  Wondering what's the deal with this relaxdiego person?
  <a href="/resume/">Here's what he's all about.</a>
</footer>
{{ end }}
