<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript">
    var host = "www.relaxdiego.com";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
    </script>
    <link rel="canonical" href="{{ site.url  }}{{ page.url  }}"/>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mark S. Maglana">

    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/assets/css/common.css" rel="stylesheet">
    <link href="/assets/css/syntax.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:700" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--  Social Preview Tags -->

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="relaxdiego.com">
    <meta property="og:image" content="/assets/images/social-preview.png">
    <meta property="og:url" content="{{ site.url  }}{{ page.url  }}">
    <meta name="twitter:card" content="/assets/images/social-preview.png">
    <meta property="og:site_name" content="relaxdiego.com">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <link href="/assets/css/pygments/friendly.css" rel="stylesheet"> -->
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div id="post" class="span8 offset2">
          <h1>
            <a href="/">{{ site.name }}</a> <small>Mark Maglana's Technical Blog</small>
          </h1>
          <div class="page-header">
            <h2>
              {{ page.title }}
              <small><br/>{{ page.date | date_to_string }} :
              {% include read_time.html %} read</small>
              <hr>
            </h2>
          </div> <!-- /page-header -->
          {{content}}
          <div class="footer">
            Found a bug in this post? <a href="https://github.com/relaxdiego/relaxdiego.github.com/issues/new">Submit a ticket on GitHub</a>!
          </div>
          <div class="well footer resume-pointer">
            So what's the deal with this relaxdiego dude? <a href="/resume">Here's what he's all about.</a>
          </div>
        </div> <!-- /post -->
      </div> <!-- /row -->
    </div> <!-- /container -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27191143-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
